.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}
.login__logo{
    text-align: center;
}
.login__logo > h1 {
    background-image: linear-gradient(to right, #78a1d3, #3e93fd);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}
.login > button{
    width: 300px;
    background-color:  #3e93fd;
    color: #eff2f5
}
.login > button:hover{
    color:  #3e93fd;
    background-color: #eff2f5;
}